{{ $dateMissing := eq .Date.Year 1}}
<article class="list-item" itemscope itemtype="http://schema.org/Blog">
  <h2 class="headline" itemprop="headline">{{ if .Draft }}(draft) {{ end }}<a
      href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  <div class="meta">
{{ if eq $dateMissing false }}
    <span class="val"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time></span>
    <span class="key">작성</span>
{{ end }}
  </div>
  <section class="summary">
    {{ .Description | default .Summary }}
    {{ if .Truncated }}
    <p>
      <a href="{{ .RelPermalink }}">더보기...</a>
    </p>
    {{ end }}
  </section>
</article>
