{{ $baseurl := .Site.BaseURL }}
<main role="main" class="homepage">

  {{ partial "hero.html" . }}

  <h1 class="headline" lang="ko">최근글</h1>

  <div class="article-list">
    {{ range (.Paginate (where .Data.Pages "Section" "post")).Pages }}
      {{ partial "article-list-item.html" . }}
    {{ end }}
		<div class="center">
			{{ template "_internal/pagination.html" . }}
		</div>
  </div>

{{ with .Site.Taxonomies.categories }}

  <h1 class="headline" lang="ko">분류</h1>

  <section class="categories">
    {{ range $name, $value := . }}
    <h2 class="category">
      <a href="{{ $baseurl }}categories/{{ $name | urlize }}">{{ title $name }}</a>
      <small>({{ .Count }})</small>
    </h2>
    {{ end }}
  </section>

{{ end }}

{{ with .Site.Taxonomies.tags }}

  <h1 class="headline" lang="ko">태그</h1>

  <section class="tags">
    {{ range $name, $value := . }}
    <span class="tag">
      <a href="{{ $baseurl }}tags/{{ $name | urlize }}">{{ $name }}</a>
      <small>({{ .Count }})</small>
    </span>
    {{ end }}
  </section>

{{ end }}

</main>
